* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --accent-color: #3ca8f5;
  --dark-accent-color: #0378cb;
  --white: #ffffff;
  --grey: #d6d6d6;
}

.app-container {
  max-width: 1400px; 
  margin:auto;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white); 
  color: #333; 
  min-height: 100vh;
}

.navbar-container {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px; 
  background-color: var(--accent-color); 
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, var(--dark-accent-color), var(--accent-color));
}

.navbar-github {
  color: var(--white);
}

.navbar-github:hover {
  color: var(--grey);
  transition: .3s;
}

.navbar-link-container {
  width: 100px; 
  height: 35px; 
  background-color: var(--white);
  border-radius: 10px; 
  transition: background-color 0.3s, transform 0.1s; 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar-link-container:hover {
  background-color: var(--grey); 
}

.navbar-link-container:active {
  transform: scale(0.95);
}

.navbar-link-text {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: var(--accent-color);
}

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.worldmap-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 60px;
}